*{
        margin: 0;
        font-style: Arial;
        border: border-box;
        
 }

 .calcu{
       
        margin-left: 600px;
        margin-top: 50px;

 }

 .text-area input{
        height: 60px;
        width: 430px;
        font-size: xx-large;
        font-weight: 900;
       
        
 }

 .button-section{
        width: 420px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
 }

 .button1{
        font-size: large;
        margin-top: 30px;
        margin-left: 30px;
        width: 80px;
        height: 60px;
        background-color:rgb(211, 198, 198);
        border: 2px solid black;
        font-weight: 700;
 }

 .button1:hover {

        background-color:rgb(102, 96, 96);

 }

 .equal-button{
        font-size: larger;
        height: 60px;
        width: 350px;
 }

